:root {
    --main-bg-color: #1D1D1D;
    --header-bg-color: #484848;
    --container-bg-color: #1A1A1A;
    --border-color: #484848;
    --text-color: #D9D9D9;
    --hex-output-color: #B5DCAF;
    --hex-label-color: var(--text-color);
    --text-output-color: #E19595;
    --button-bg-color: #C7B0E3;
    --button-text-color: black;
    --global-padding: 1rem;
}

body {
    font-family: "Share Tech Mono", monospace;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

input,
button {
    font-family: inherit;
}

.container {
    background-color: var(--container-bg-color);
    padding: var(--global-padding);
    border: solid 1px var(--border-color);
}

.hex-view-container {}

.ascii-view-container {}